*{
    margin: 0;
    padding: 0;

}
h1{
    padding: 15px;
    background-color: bisque;
    border: none;
    border-radius: 30px;
    text-align: center;
}
p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    padding: 50px;
    color: crimson;
    background-color: rgb(177, 213, 231);
    border-radius: 20px;
    
}
